table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    align-content: center;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 2px;
    
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd; 
  }
  body{
    background-color:white;
    width: 1000px;
    border: 2px solid black;
    margin: auto;
  }
h1{
  text-align: center;
}
h3{
  text-align: center;
}
