table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    align-content: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  body{
    background-color:white;
    width: 1000px;
    border: 5px solid black;
    margin: auto;
  }
h1{
  text-align: center;
}
h3{
  text-align: center;
}